asgiref==3.9.1
certifi==2025.7.9
channels==4.2.2
channels_redis==4.2.1
charset-normalizer==3.4.2
colorama==0.4.6
Django==5.2.4
djangorestframework==3.16.0
idna==3.10
language_tool_python==2.9.4
msgpack==1.1.1
psutil==7.0.0
redis==6.2.0
requests==2.32.4
sqlparse==0.5.3
toml==0.10.2
tqdm==4.67.1
tzdata==2025.2
urllib3==2.5.0
